{# header block#}

{% block header %}
<div class="navbar-header">
  <a href="{{ path('home') }}" title="Home" class="logo">
    <img src="{{ asset('bundles/distsysshop/logo.png') }}" alt="logo" title="Home">
  </a>
</div>{#  /.navbar-header #}

<div class="container">
  <div class="navbar-collapse collapse">
    <nav>
    {% render(controller('DistSysShopBundle:Navigation:index')) %}
    </nav>

    {#
    <div class="top-links">
      <div class="login">
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path ('logout') }}" title="Logout">Logout</a>       
    {% else %}       
        <a href="{{ path ('login') }}" title="Login">Login</a> 
        <a href="{{ path ('register') }}" title="Registrieren">Registrieren</a>
    {% endif %} 
      </div>
      <div class="cart">
        <a href="{{ path ('cartShow') }}" title="Cart" class="cart-link">
      {% set cartAmount = app.session.get('cartAmount') %}      
      {% set priceComplete = app.session.get('priceComplete') %}
      {% if cartAmount > 0 %}
          <span>
        {{ cartAmount }} Artikel<br>
        {{ priceComplete |number_format(2,',', '.' )}} €
          </span>
          <span class="ico cart-full">&nbsp</span>
      {% else %}
          <span>
            0 Artikel<br>
            0,00 €
          </span>
          <span class="ico">&nbsp</span>
      {% endif %}
        </a>
      </div>
      <div class="quick-search">
        <form action="{{ path('searchResult') }}" method="post">
          <!--<input type="text" id="search" name="search" value="Suchbegriff eingeben..." onclick="if (this.value && this.value === this.defaultValue)
                this.value = '';">-->
          <input type="text" id="search" name="search" placeholder="Suchbegriff eingeben..." value="">
          <button type="submit">Suche</button>
        </form>
      </div>
    </div>#}{#  /.top-links #}

  </div>{#  /.navbar-collapse collapse #}

</div>{#  /.container #}
{% endblock %}