{# block navigation #}

{% block navigation %}
{% set routeParam = app.request.getPathInfo() %}
{#{% set routeParam = app.request.get('categoryId') %}#}
<ul class="nav navbar-nav">
  <li>
    <a href="{{ path('home') }}" title="Start" class="{% if path('home') is sameas(routeParam) %}active{% endif %}">Start</a>
  </li>

  <li class="dropdown">
    <a href="{{ path( 'category', {'categoryId': categories|first.id|e} ) }}" title="Produkte" data-toggle="dropdown" class="dropdown-toggle {#% if path('schmucklisShowAllProducts') is sameas(routeParam) %}text-highlight-color{% endif %#}">Produkte</a>
    <ul class="dropdown-menu">
      {% for category in categories %}
      <li>
        <a class="{% if category.active %}{{active}}{% endif %}" href="{{ path( 'category', {'categoryId': category.id|e} ) }}">{{ category.attributename }}</a>
      </li>
      {% else %}
      <li>
        <p>No Categories found</p>
      </li>
      {% endfor %}
    </ul>
  </li>

  {#
  <li class="hl-lvl-0">
    <a href="{{ path('schmucklisHome', {'url': 'faq'}) }}" title="FAQs" class="{% if path('schmucklisHome', {'url': 'faq'}) is sameas(routeParam) %}active{% endif %}">FAQs</a>
  </li>
#}
  <li>
    <a href="{{ path('contact') }}" title="Kontakt">Kontakt</a>
  </li>

  {% if is_granted('ROLE_USER') %}
  <li>
    <a href="{{ path ('userAccount') }}" title="Mein Konto">Mein Konto</a>    
    <ul>
      <li>
        <a href="{{ path('userData') }}">Meine Daten</a>
      </li>
      <li>
        <a href="{{ path('userOrders') }}">Meine Bestellungen</a>
      </li>
    </ul>
  </li>  
  {% endif %} 

</ul>{# /.nav .navbar-nav #}
{% endblock %}
