{# block navigation #}

{% block navigation %}
{#{% set routeParam = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}#}
{% set routeParam = 'baum' %}

<ul class="nav navbar-nav">
  <li>
    <a href="{{ path('home') }}" title="Start" class="{% if path('home') is sameas(routeParam) %}active{% endif %}">Start</a>
  </li>

  <li class="dropdown">
    <a href="{{ path('category', {'categoryId': 0}) }}" title="Produkte" data-toggle="dropdown" class="dropdown-toggle ">Produkte</a>
    <ul class="dropdown-menu">
      {% for category in categories %}
      <li>
        <a href="{{ path('category', {'categoryId': category.id}) }}" class="{% if path('category', {'categoryId': category.id}) is sameas(routeParam) %}active{% endif %}">{{ category.name }}</a>
      </li>
      {% else %}
      <li>
        <span>No Categories found</span>
      </li>
      {% endfor %}
    </ul>
  </li>

  <li>
    <a href="{{ path('home', {'url': 'contact'}) }}" class="{% if path('home', {'url': 'contact'}) is sameas(routeParam) %}active{% endif %}" title="Kontakt">Kontakt</a>
  </li>

{#  {% if is_granted('ROLE_USER') %}#}
{#  {% if is_granted('IS_AUTHENTICATED_FULLY') %}
  <li>
    <a href="{{ path ('user_account') }}" title="Mein Konto">Mein Konto</a>    
    <ul>
      <li>
        <a href="{{ path('user_data') }}" title="Meine Daten">Meine Daten</a>
      </li>
      <li>
        <a href="{{ path('user_orders') }}" title="Meine Bestellungen">Meine Bestellungen</a>
      </li>
    </ul>
  </li>
  {% endif %}#}

  {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
  <li>
    <form class="navbar-form" action="{{ path('login_check') }}" method="post">
      <div class="form-group">
        <input name="_username" type="text" class="form-control" placeholder="Email">
      </div>
      <div class="form-group">
        <input name="_password" type="password" class="form-control" placeholder="Password">
      </div>
      <button class="btn btn-success" type="submit">Login</button>
    </form>
  </li>
  <li>
    <a class="" href="{{ path('register') }}">Registrieren</a>
  </li>
  {% else %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.username }}<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li class="dropdown-header">User Control Panel</li>
      <li><a href="{{ path('user') }}">Nutzerdaten</a></li>
      <li><a href="{{ path('user_password') }}">Passwort</a></li>
		      {% if is_granted('ROLE_ADMIN') %}
      <li class="divider"></li>
      <li class="dropdown-header">Admin Control Panel</li>
      <li><a href="#">Produkte</a></li>
      <li><a href="#">Kategorien</a></li>
      <li><a href="{{ path('admin_user') }}">User</a></li>
		    {% endif %}
      <li class="divider"></li>
      <li><a href="{{ path('logout') }}">Logout</a></li>
    </ul>
  </li>

  <li>
    <a class="" href="{{ path('logout') }}">&nbsp;</a>
  </li>
  {% endif %}
  
  <li>
    <a href="{{ path ('my_cart') }}" title="Cart" class="">Warenkorb</a>
  </li>

</ul>{# /.nav .navbar-nav #}
{% endblock %}
