
<h2 class="heading style1">Userdaten von User {{ user.id }}</h2>


    <div class="row">
      <div class="col-sm-2">
        <strong>Benutzername: </strong>
      </div>
      <div class="col-sm-2">
        {{ user.username }}
      </div>
   </div>
    <div class="row">
      <div class="col-sm-2">
        <strong>Email: </strong>
      </div>
      <div class="col-sm-2">
        {{ user.email }}
      </div>
   </div>
    <div class="row">
      <div class="col-sm-2">
        <strong>Vorname: </strong>
      </div>
      <div class="col-sm-2">
        {{ user.firstname }}
      </div>
   </div>
    <div class="row">
      <div class="col-sm-2">
        <strong>Nachname: </strong>
      </div>
      <div class="col-sm-2">
        {{ user.lastname }}
      </div>
   </div>
    <div class="row">
      <div class="col-sm-2">
        <strong>Adresse: </strong>
      </div>
      <div class="col-sm-2">
        {{ user.street }}
      </div>
   </div>
    <div class="row">
      <div class="col-sm-2">
        <strong>Ort: </strong>
      </div>
      <div class="col-sm-2">
        {{ user.postal }} {{ user.city  }}
      </div>
   </div>
    <div class="row">
      <div class="col-sm-2">
        <strong>Telefonnummer: </strong>
      </div>
      <div class="col-sm-2">
        {{ user.phone }}
      </div>
   </div>
        

      
    

