{% extends 'DistSysShopBundle::Scaffolding/scaffolding.html.twig' %}

{% block main %}
<h1>Registrieren</h1>


<form  class="form-horizontal" action="{{ path('create')}}" method="post" {{ form_enctype(form) }}>

  {% if error is defined %} 
    {{ error }}
  {% endif %}
  <div class="form-group">
  {{ form_label(form.user.email) }}
  {{ form_errors(form.user.email) }}
		  <div class="col-lg-5">
  {{ form_widget(form.user.email) }}
		  </div>
  </div>

  <div class="form-group">
  {{ form_label(form.user.username) }}
  {{ form_errors(form.user.username) }}
		  <div class="col-lg-5">
  {{ form_widget(form.user.username) }}
		  </div>
  </div>

  <div class="form-group">
  {{ form_label(form.user.password.password) }}
  {{ form_errors(form.user.password.password) }}
		  <div class="col-lg-5">
  {{ form_widget(form.user.password.password) }}
		  </div>
  </div>

  <div class="form-group">
  {{ form_label(form.user.password.confirm) }}
  {{ form_errors(form.user.password.confirm) }}
		  <div class="col-lg-5">
  {{ form_widget(form.user.password.confirm) }}
		  </div>
  </div>

  <div class="form-group">
  {{ form_errors(form.terms) }}
  {{ form_widget(form.terms) }}
  {{ form_label(form.terms) }}
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <button class="btn btn-primary" type="submit">Registrieren</button>
    </div>
  </div>
  

{{ form_end(form) }}
{% endblock %}