{% extends 'DistSysShopBundle::Scaffolding/scaffolding.html.twig' %}

{% block main %}
<h1>Passwort ändern</h1>

<form  class="form-horizontal" id="password-form" action="{{ path('user_password_update') }}" method="post" {{ form_enctype(postform) }}>
    

	  <div class="form-group">
	  {{ form_label(postform.password.password) }}
	  {{ form_errors(postform.password.password) }}
		  <div class="col-lg-5">
			  {{ form_widget(postform.password.password) }}
		  </div>
	  </div>
	
	  <div class="form-group">
	  {{ form_label(postform.password.confirm) }}
	  {{ form_errors(postform.password.confirm) }}
		  <div class="col-lg-5">
			  {{ form_widget(postform.password.confirm) }}
		  </div>
	  </div>
    <p>
        <button class="btn btn-primary" type="submit">speichern</button>
    </p>
    <p class="res">
    </p>
    {{ form_end(postform) }}
</form>



{% endblock %}